<h1>All Announcements</h1>
<ul>
<%@announcements.each do |announcement| %>
    <li><%= link_to (announcement.title + " " + announcement.updated_at.time.to_s), announcement_path(announcement)%></li>
<%end%>
</ul>
<div>
<%=link_to "New Announcment", new_announcement_path%>
</div>
<div>
<%=link_to "Homepage", homepage_path%>
</div>