
<div class="blog_index">
    <div class="head">
        <%= link_to "New Blog", new_blog_path, class:"hidden" %>
        <h1>BLOGS</h1>
        <%= link_to "New Blog", new_blog_path, class:"button" %>
    </div>
    <div class="blogs_preview">
        <div class="column">
        <h2>Newest</h2>
        <% @blogs.each do |blog| %>
                <%= link_to blog.title, blog_path(blog), class: "blog_preview" %>
        <% end %>
        </div>
        <div class="column">
        <h2>Most Liked</h2>
        <% @blogs.each do |blog| %>
                <%= link_to "#{blog.title}", blog_path(blog), class: "blog_preview" %>
        <% end %>
        </div>
    </div>
    
</div>