<h3>List of all blogs</h3>
<div class="blogs_preview">
    <% @blogs.each do |blog| %>
        <div class="blog_preview"><%= link_to blog.title, blog_path(blog) %></div>
    <% end %>
</div>
<br>
<div>
    <%= link_to "New Blog", new_blog_path%>
</div>