<h1>Blogs Index Page</h1>

<h3>List of all blogs</h3>
<ul>
<% @blogs.each do |blog| %>
<li><%= link_to blog.title, blog_path(blog) %></li>
<% end %>
</ul>

<%= link_to "New Blog", new_blog_path%>
<%= link_to "Homepage", homepage_path%>