<div class="">
    <% if session[:user_id] %>

        
        <div class="">

            <%=render "form_blog"%>
        </div>
    <% else %>
    <div class="row h-100">
    <div class="p-5 text-center my-auto col-sm-12 ">
        <%= link_to "SIGN UP TO MAKE A BLOG POST! CLICK HERE!",  new_user_path, class: "btn btn-outline-danger btn-lg card"%>
    </div>
    </div>
    <% end %>
</div>