<div class="new_blog_form">
    <% if session[:user_id] %>
        <h2>Create new Blog</h2>

        <div class="warning">
            <%= render partial: "shared/error_list", locals: {new_object: @blog} %>
        </div>
        <div class="new_form">

            <%=render "form_blog"%>
        </div>
    <% else %>
    <div class="no_user_block">
        <%= link_to "SIGN UP TO MAKE A BLOG POST! CLICK HERE!",  new_user_path, class: "no_user"%>
    </div>
    <% end %>
</div>