
<div class="user_form">

    <div class="title"> User New Page </div>
    <div class="warning">
        <%= render partial: "shared/error_list", locals: {new_object: @user} %>
    </div>
    
    <%= render "form_user"%>

</div>