.blog_index {
	display: flex;
	flex-direction: column;
	// border: solid red 2px;
	height: 85vh;
	margin: 5px;
	align-items: center;

	.head {
		text-align: center;
		font-size: large;
		padding: 5px, 5px;
		display: flex;
		justify-content: space-around;
		// border: solid red 2px;
		width: 40vw;
		align-items: center;

		h1 {
			text-align: center;
		}

		.button {
			// border: solid red 2px;
			height: 30%;
			text-decoration: none;
			color: white;
			background-color: grey;
			padding: 5px 5px;
			border-radius: 5px;
		}
		.hidden {
			visibility: hidden;
		}
	}

	.blogs_preview {
		width: 70vw;
		height: 75vh;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-content: center;
		// border: solid red 2px;
		margin: 5px 5px;

		.column {
			display: flex;
			flex-direction: column;
			// border: solid red 2px;
			background-color: grey;
			text-align: center;
			border-radius: 10px;

			.blog_preview {
				// border: solid red 2px;
				margin: 8px 10px;
				padding: 10px 10px;
				text-align: left;
				text-decoration: none;
				width: 30vw;
				background-color: white;
				border-radius: 10px;
				transition: 1s;

				&:hover{
					background-color: rgb(212, 212, 212);

				}
			}
		}
		
	}

}
