@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@keyframes flickerAnimation {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes flickerAnimation {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes flickerAnimation {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes flickerAnimation {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.animate-flicker {
	-webkit-animation: flickerAnimation 10s infinite;
	-moz-animation: flickerAnimation 10s infinite;
	-o-animation: flickerAnimation 10s infinite;
	animation: flickerAnimation 10s infinite;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	bottom: 50%;
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
	background: rgba(0, 0, 0, 0.5);
}

@keyframes flickerAnimationA {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes flickerAnimationA {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes flickerAnimationA {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes flickerAnimation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

.animate-flickerA {
	-webkit-animation: flickerAnimationA 6s infinite;
	-moz-animation: flickerAnimationA 6s infinite;
	-o-animation: flickerAnimationA 6s infinite;
	animation: flickerAnimationA 6s infinite;
}
