@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.views {
	/* border: solid red 3px; */
}

body {
	/* background-image: url(https://ctl.s6img.com/society6/img/af9oOtMr3NUEhIns0Ik_VFqG2yc/w_700/prints/~artwork/s6-original-art-uploads/society6/uploads/misc/d16122dd8b1a41fe8ca7723c46ccde5c/~~/randy-marsh-happy-face-prints.jpg?wait=0&attempt=0); */
	background-size: cover;
	background-position: center; /* Center the image */
	background-repeat: no-repeat;
	padding-top: 40px;
}
