@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @keyframes flickerAnimation {
	0%   { opacity:1; }
	5%  { opacity:0; }
	90%  { opacity:0; }
	100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
	0%   { opacity:1; }
	5%  { opacity:0; }
	90%  { opacity:0; }
	100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
	0%   { opacity:1; }
	5%  { opacity:0; }
	90%  { opacity:0; }
	100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
	0%   { opacity:1; }
	5%  { opacity:0; }
	90%  { opacity:0; }
	100% { opacity:1; }
  }
  .animate-flicker {
	 -webkit-animation: flickerAnimation 10s infinite;
	 -moz-animation: flickerAnimation 10s infinite;
	 -o-animation: flickerAnimation 10s infinite;
	  animation: flickerAnimation 10s infinite;
  }