// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.blog-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline ;
    justify-content: space-around;
}

.blog-title {
    // background-color: lightcyan;
    // border-style: solid;
    font-size: 36px;
    margin-top: 12px;
    margin-left: 200px;
}

.blog-likes {
    // background-color: lightcyan;
	// border-style: solid;
    width: 25%;
    margin-right: 200px;
}

.blog-content{
    // border-style: solid;
    margin-left: 200px;
    margin-right: 200px;
}

.blog-pic{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-author{
	// border-style: solid;
    width: 75%;
    font-size: 20px;
    margin-left: 200px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.blog-title-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%;
}

.blog-comments{
    display: flex;
    flex-direction: column;
    border: blue;
}