.login-page {
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 0 30%;
	background-color: grey;
	border-radius: 5px;
	// border: solid red 2px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;

	.title {
		margin: 5% 5% 0 5%;
		font-size: 3vw;
		font-weight: bold;
	}
	.warning {
		color: rgba(219, 0, 0, 0.691);
	}
	.form {
		align-content: center;
		display: flex;
		justify-content: space-evenly;
		// border: solid red 2px;

		.label {
			width: 220px;
			margin: 30px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-left: -40px;

			// border: solid red 2px;
			input {
				border-radius: 4px;
			}
		}
	}

	.options {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 30px;
		// border: solid red 2px;
		a {
			text-decoration: none;
			color: black;
		}
	}
}
