<h1>HOMEPAGE</h1>

<div>
<%= link_to "Blogs", blogs_path%>
</div>
<div>
<%= link_to "Applets", applets_path%>
</div>
<div>
<%if session[:user_id]%>
    <%= link_to "Profile", user_path(User.find(session[:user_id]))%>
<%end%>
</div>
<div>
<%= link_to "Users", users_path %>
</div>