<h1>This is Homeapage</h1>

<div>
<%= link_to "Blogs", blogs_path%>
</div>
<div>
<%= link_to "applets", applets_path%>
    <ul>

    <% Applet.all.reverse.each do |applet| %>
        <li>
            <%=applet.title%>
        </li>
    <%end%>

    </ul>
</div>

<div>
<%= link_to "Users", users_path%>
</div>